.btn {
    border: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    &.btn--submit {
      padding: 16px 30px;
      color: #fff;
      font-family: Poppins;
      font-size: 12px;
      font-weight: 700;
      border-radius: 16px;
      background: linear-gradient(134deg, #9181f4 0%, #5038ed 100%);
      box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    }
    &.btn--sns {
      width: 364px;
      height: 52px;
      border-radius: 16px;
      border: 1px solid #f0edff;
      color: #1c1c1c;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: #fff;
      .strong {
        font-weight: 700;
      }
    }
  }
